@import './vars.scss';

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
}
.container {
    width: 85%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.flex {
    display: flex;
}
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $back_11;
    color: white;
    width: 70px;
    padding: 20px;
}
h2 {
    font-size: 41px;
}