$back_1: #FFFFFF;
$back_2: #FFFFFF4D;
$back_3: #FFFFFF80;
$back_4: #FFFFFF26;
$back_5: #FCFCFC;
$back_6: #F7FDFF;
$back_7: #FBF9F9;
$back_8: #F2F8FC;
$back_9: #FFD740;
$back_10: #9CE0FF;
$back_11: #40C4FF;
$back_12: #EF2853;
$back_13: #EE2852;
$back_14: #acacac;
$back_15: #222222;
$back_16: #e6e6e6;
$back_17: #d9d9d9;
// TEXT
$text1: #FFFFFF;
$text2: #CECECE;
$text3: #B9B9B9;
$text4: #40C4FF;
$text5: #ABABAB;
$text6: #A6A6A6;
$text7: #55ACEE;
$text8: #959595;
$text9: #DC4D40;